.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.links{
    text-decoration: none;
}
.nav{
    background-color: rgb(225, 224, 225);
}
.footer{
    background-color: rgb(225, 224, 225);
    margin-top: auto;
}

.search-form{
    background-image: url('./images/trip.jpg');
    background-position: center;
    background-size: cover;
}
.search-form-container{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}