html, body{
    height: 100%;
}

.links{
    text-decoration: none;
}
.nav{
    background-color: rgb(225, 224, 225);
}
.footer{
    background-color: rgb(225, 224, 225);
}
.search-form{
    background-image: url('./images/trip.jpg');
    background-position: center;
}
.search-form-container{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    max-width: 90%;
    min-height: 100%;
}